* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background: rgb(130, 106, 251);
}

.container {
  position: relative;
  max-width: 600px;
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container h1 {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}

.container .form {
  margin-top: 20px;
}

.form .input-box {
  width: 100%;
  margin-top: 15px;
}

.input-box label {
  color: #333;
}

.form .input-box input {
  position: relative;
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.form .column {
  display: flex;
  column-gap: 10px;
}

.gender {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.gender label {
  color: #333;
  margin-bottom: 8px;
}

.gender div {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.gender input[type="radio"] {
  margin-right: 8px;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.buttons input {
  width: 48%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

.buttons input[type="submit"] {
  background-color: #4caf50;
  color: white;
}

.buttons input[type="reset"] {
  background-color: #f44336;
  color: white;
}
